<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynrd.mapper.RoleMapper">

    <select id="queryRoleNamesByUsername" resultSets="java.util.Set" resultType="string">
        SELECT role_name
        from tb_users INNER JOIN tb_urs
        on tb_users.user_id = tb_urs.uid
        INNER JOIN tb_roles
        on tb_urs.rid = tb_roles.role_id
        WHERE tb_users.username=#{username}
    </select>

</mapper>